.css-9tj150-MuiButton-endIcon > *:nth-of-type(1) {
  font-size: 30px !important;
}
.nav-btn {
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
  text-transform: capitalize !important;
  color: black !important;
}
.navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: #453227 !important;
  text-underline-offset: 10px;
}
